* {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

code {
  font-family: Consolas, monaco, monospace;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  background: rgba(64, 193, 255, 0.2);
}