version: 2.1

jobs:
  build_platform:
    working_directory: ~/citeum-collective
    docker:
      - image: cimg/node:12.20.0
    steps:
      - run:
          command: apt-get update && apt-get install -y build-essential
      - checkout
      - run: 
          working_directory: ~/citeum-collective/citeumcollective-front
          command: yarn install
      - run:
          working_directory: ~/citeum-collective/citeumcollective-front
          command: yarn build
      - run:
          working_directory: ~/citeum-collective/citeumcollective-api
          command: yarn install
      - run:
          working_directory: ~/citeum-collective/citeumcollective-api
          command: yarn build                    
      - persist_to_workspace:
          root: ~/
          paths:
            - citeum-collective

  deploy_members:
    working_directory: ~/citeum-collective
    docker:
      - image: cimg/node:12.20.0
    steps:
      - attach_workspace:
          at: ~/
      - add_ssh_keys
      - run: ssh-keyscan -H citeum.org >> ~/.ssh/known_hosts
      - run: DEBIAN_FRONTEND=noninteractive apt-get update -q && DEBIAN_FRONTEND=noninteractive apt-get install -qq -y rsync
      - run: mkdir deploy
      - run: git config --global user.email "ci@citeumcollective.io" && git config --global user.name "Citeum Collective CircleCI"
      - run:
          working_directory: ~/citeum-collective/deploy
          command: git clone ssh://citeumcollective-7yMdMC56@citeum.org:/~/citeumcollective-7yMdMC56.git .
      - run:
          working_directory: ~/citeum-collective/deploy
          command: git submodule init && git submodule update --remote          
      - run:
          working_directory: ~/citeum-collective/deploy
          command: git remote add ci ~/openex && git pull --no-edit -s recursive -X theirs ci master         
      - run:
          working_directory: ~/citeum-collective/deploy
          command: rsync -av --delete ~/citeum-collective/citeumcollective-api/public/ ./citeumcollective-api/public/
      - run:
          working_directory: ~/citeum-collective/deploy
          command: rsync -av --delete ~/citeum-collective/citeumcollective-api/build/ ./citeumcollective-api/build/
      - run:
          working_directory: ~/citeum-collective/deploy
          command: git add -A
      - run:
          working_directory: ~/citeum-collective/deploy
          command: git diff-index --quiet HEAD || git commit -a -m "[CircleCI-Workflow] Deploy new version" && git push origin master

workflows:
  openex:
    jobs:
      - build_platform:
          filters:
            tags:
              only: /.*/
      - deploy_members:
          requires:
            - build_platform
          filters:
            branches:
              only:
                - main
